<!DOCTYPE html>
<html>
    <head>
        <title>
            A Small Hello
        </title>
        <style>
        h1 {
          color: red;
          text-align: center;
          }
        </style>
    </head>
<body>
    <h1>Hello!</h1>
      <form action="/result/", method="POST">
          Name:<br>
          <input type="text" name="name"><br>
          Age:<br>
          <input type="text" name="age"><br>
          Favorite SoftDes Ninja:<br>
          <input type="text" name="favninja"><br>
          <input type="submit" value="Submit">
      </form>
</body>
</html>
